.sidenav-container {
  display: flex;
  margin: 5%;

}

.sidenav-closed {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.2s;
  }
  
.sidenav-open {
  @extend .sidenav-closed;
  width: 100%;
  background-color: grey;
  padding-top: 5%;
}

.sidenav-close-button {
  padding-left: 5%;
}

.sidenav-links {
  padding-top: 5%;
}

.sidenav-logout {
  text-align: center;
}