.sidenav-container {
  display: flex;
  margin: 5%;
}

.sidenav-closed {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.sidenav-open {
  @extend .sidenav-closed;
  width: 100%;
  background-color: grey;
  padding: 5%;
}