@import 'variables';

.sidenav-container {
  display: flex;
  margin-bottom: 20px
}

.sidenav-menu-button {
  margin-left: 10px;
  margin-top: 10px;
  background-color: $secondary !important;
}

.sidenav-closed {
  height: 100%;
  width: 0;
  position: fixed;
  overflow-x: hidden;
  transition: 0.2s;
}

.sidenav-open {
  @extend .sidenav-closed;
  width: 100%;
  background-color: $secondary;
  padding-top: 10px;
  z-index: 6;

  .sidenav-menu-button {
    margin-top: 0%;
  }
}

.sidenav-links {
  padding-top: 5%;
}

.sidenav-logout {
  text-align: center;
  background-color: '#f55656ff' !important;
}