.page-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.my-events-buttons {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.events-page-header {
  margin-bottom: 15px;
  font-style: oblique;
}

@media (min-width: 650px) {
  .my-events-buttons {
    width: 60%;
  }
}